* {
    margin: 0;
    padding: 0;
}

.body {
    background: url("../image/snake.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family:monospace;
    color: white;
}

#hiscoreBox {
    position: absolute;
    top: 59px;
    right: 115px;
    font-size: 39px;
    font-weight: bold;
    font-family:monospace;
    color: white;
}


#board {
    background: linear-gradient(rgba(93, 94, 93, 0.877), rgba(162, 162, 158, 0.674));
    width: 90vmin;
    height: 92vmin;
    border: 10px solid rgb(22, 22, 22);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    /* transform: rotate(25deg); */
}

.snakeHead {
    background: linear-gradient(rgb(62, 62, 62), rgb(19, 14, 15));
    transform: scale(1.02);
    border: 0.25vmin solid white;
    border-radius: 20%;
    transform: rotate(45deg);
}

.snakeBody {
    background: linear-gradient(rgb(244, 4, 4), rgb(19, 14, 15));
    border: 0.25vmin solid white;
    border-radius: 50%;
}

.snakeTail {
    background: linear-gradient(rgb(62, 62, 62), rgb(19, 14, 15));
    border: 0.30vmin solid white;
    border-radius: 50%;
}

.food {
    background: radial-gradient(rgb(237, 190, 20), rgb(237, 63, 20), rgb(233, 83, 28));
    box-shadow: 0 0 5px 2px rgb(240, 228, 220);
    border-radius: 30px;
}